apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-cni
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: platform

  source:
    repoURL: https://istio-release.storage.googleapis.com/charts
    chart: cni
    targetRevision: 1.24.1
    helm:
      releaseName: istio-cni
      values: |
        # CNI plugin for Ambient mode
        # Runs as DaemonSet on all nodes

        cni:
          # CNI bin directory
          cniBinDir: /opt/cni/bin
          cniConfDir: /etc/cni/net.d
          cniConfFileName: istio-cni.conf

          # Chained CNI plugin
          chained: true

          # Exclude namespaces from mesh
          excludeNamespaces:
            - istio-system
            - kube-system
            - kube-public
            - kube-node-lease

          # Logging
          logLevel: info

        # Resources
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 500m
            memory: 512Mi

        # Run on all nodes
        nodeSelector: {}

        tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
        - effect: NoSchedule
          key: node-role.kubernetes.io/master

  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
