apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

bases:
  - ../../base

commonLabels:
  environment: dev

# Dev-specific patches
patchesStrategicMerge:
  - patch-replicas.yaml
  - patch-resources.yaml
